/* Main Components of the Website */
body {
    background-color: lightblue;
	front-family: "Arial", sans-serif;
	width: 100% ;
	height: 100% ;
}

html{
	width: 100%;
	height: 100%; 
}
h1{ 
	font-family: "Arial", !important;
	font-weight: 500;
	color: #00ff00;
}

h2{
	font-family: "Arial", !important;
	font-weight: 400;
	color: #00ff00 ;
}

h3 {
	font-family: "Arial", !important;
	font-weight: 300;
	color: #00ff00 ;
}

h4{
	font-family:"Arial", !important ;
	color: #00ff00;
}

h5{
	font-family:"Arial", !important ;
	font-weight: #00ff00;
	color: #00ff00 ;
}

h6{
	font-family: "Arial", !important ;
	color: black;
}

p{ font-family: "Courier", sans-serif; }

a{ color:#00ff00 ; }
a:hover{color:#e84c3d }

a:hover{ color:#e84c3d ; }

socialMediaLinks{
	display: block;
	padding-left: 0px ;
}

#socialMediaLinks li{
	display:inline ;
	margin:10px ;
}


#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	}

	li { float: left; }

	li a {
	display: block;
	color: #600;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}

	li a:hover:not(.active) {
	background-color: #ddd;
	}

	li a.active {
	color: white;
	background-color: #4CAF50;
}

#about_us {
	display: block;
	padding: 5% 5%;
	color: blue ;
	background-color: light-blue;
}

#alumni {
	display: block ;
	padding: 5% 5%;
	color: blue ;
	background-color: light-blue;
}

#featuredAlumi{
	padding: 5% 10%;
}
#featuredAlumi .alumiPicture {
	height: auto;
	width: 100% ;
}

#contact {
	display: block;
	padding: 5% 5% ;
	color: #e84c3d;
	background-color:#f5f3ee;
}

	#contact .form-control {
		font-family: "Arial", sans-serif; 
	}
	#contact .label{
	 	font-family: "Arial". sans-serif;
	}
	#contact .btn-primary{
		background-color: #e84c3d;
		border-color:#e84c3d ;
		color:#fff ;
	}
	#contact .btn-primary:hover{
		background-color:#e84c3d ;
		color: #f5f3ee;
	}

	#contact .contact-form{
		padding-top: 5% ;
	}
	@media (max-width: 749px){
		#contact{
			padding: 10px;
		}
	}

@media (max-width: ){
	#contact{
		padding: ;
	}
}

#events {
	margin-top: 30px;
	#events iframe{
		width: 100%;
	}
}
#helpme{
	margin-top: 50px; 
}
	.member-map{
		height: 500px;
		width: 100%;
		padding: 5%; }
	.member-links {
		padding-top: 2%;
		list-style-type: none;
		text-aligin: center; }
	.member-links > li {
		display: list-item; }
	.member-button {
		font-size:large ; }
	.btn {
		font-weight: bold; }
	.form-inline{
		margin-top: 5%;
		margin-bottom: 5% ;
		text-algin: center;
		padding: 5%;
}
#home {
	padding: ;
	background: url() no repeat center center: 
	}
 	#home .home-header-container {
		width: ;
	 	padding: ;
	 	text-align: center;
	}
	#home .home-header-container .home-header {
		front-size: ;
		color: ;
	}

	#home .home-header-container .header-subheader {
		margin: ;
		color: ;
	}

@media only screen and (max-width: ){
	#home {
		padding: ;
		text-algin: ;
	}
	#home .home-image-container {
		font-size: ;
		width: ;
	}
	#home .home-header-container{
		width: ;
	}
	#home .home-header-container .home-header{
		font-size: ;
	}
	#home .home-header-container .home-subheader{
		font-size: ;
		margin: ;
		color: ;
	}
}

.member-subheaders{
	text-algin: ;
	margin-bottom: ;
	margin-top: ;
}

.memberImage{
	margin-bottom: ;
	background-repeat: ;
	background-position: ;
	position: ;
	text-algin: ;
	vertical-algin: ;
	min-height: ;
}

.memberImage p{
	font-weight: ;
	color: ;
	text-transform: ;
	margin: ;
	position: ;
	top: ;
	left: ;
	transform: translate( %, %);
}

.quickLinks{
	background-repeat: ;
	background-size: ;
	background-position: ;
	position: ;
	text-align: ;
	vertical-algin: ;
	min-height: ;
}
.quickLinks p{
	font-weight: ;
	color: ;
	text-transform: ;
	margin: ;
	position: ;
	top: ;
	left: ;
	transform: translate( %, %); 
}

			
#officers {
	padding: 5% 5%;
	background-color: #f5f3ee;
}
	#officers h1{
		color: #f5f3ee; 
		margin-bottom: 5%;
	}
	@media (max-width: 750px){
		#officers{	padding: 10% 5%; }
	}
 	.officerPicture{
	 	width: 100%;
	 	height: auto;
	}
	.officer-box{
		border: 0;
		cursor: pointer;
	}

#resources {
	display: block;
	padding: 5% 5% ;
}
	.resource-header{
		padding-bottom: 5%;
	}

	.panel {
		border: none;
	}
	.panel .panel-heading{
		border: none;
		background-color: #bbbb;
		border-color: #bbbb;
	}
	.iframeOutside {
		text-algin: center;
	}

#sponsors{
	display: block;
	padding: 5% 5%;
	color: #e84c3d ;
}
	#sponsors .list{
		padding: 0;
		list-style-type: none;
		display: flex ;
		flex-wrap: wrap;
	}
	#sponsors .list-item{
		padding: flex;
		align-items: center;
		justify-content: center;
		padding: 1em;
		width: 100% ;
		margin-top: 5% ;
	}
	#sponsors .list-item-link{
		position:  relative;
	}
	#sponsors .list-item-image{
		top: 50%;
		width: auto;
		max-width: 100%;
		max-height: 200px;
	}
	@media all and (min-width: 40em) {
		#sponsors .list-item{
			width: 50%;
		}
	}
	@media all and (max-width: 60em) {
		#sponsors .list-item{
			width: 20%;
			padding: 2%;
		}
	@media all and (max-width:40em ) {
		#sponsors .list-item{
			width: 50%;
		}
	}
		

footer{
	background-color:#e84c3d ;
	color: white;
	padding:3% 3% 3% 3% ;
	text-align: center;
}
	footer p{
		margin: 0;
	}

	footer a{
		color: white ;
	}
