/* Main Components */
body {
    background-color: lightblue;
	front-family: "", sans-serif;
	width: ;
	height: ;
}

html{
	width: ;
	height: ; 
}
h1{ 
	font-family: ;
	font-weight: ;
	color: ;
}

h2{
	font-family: ;
	font-weight: ;
	color: ;
}

h3 {
	font-family: ;
	font-weight: ;
	color: ;
}

h4{
	font-family: ;
	color: ;
}

h5{
	font-family: ;
	font-weight: ;
	color: ;
}

h6{
	font-family: ;
	color: ;
}

p{ font-family: , sans-serif }

a{ color: ; }
a:hover{color:}

a:hover{ color: ; }

socialMediaLinks{
	display: ;
	padding-left: ;
}

#socialMediaLinks li{
	display: ;
	margin: ;
}


#navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	}

	li { float: left; }

	li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}

	li a:hover:not(.active) {
	background-color: #ddd;
	}

	li a.active {
	color: white;
	background-color: #4CAF50;
}

#about_us {
	display: ;
	padding: ;
}

#alumni {
	display: ;
	padding: ;
}

#featuredAlumi{
	padding: ;
}
#featuredAlumi .alumiPicture {
	height: ;
	width: ;
}

#contact {
	display: ;
	padding: ;
	color: ;
	background-color: ;
}

	#contact .form-control {
		font-family: "", sans-serif; 
	}
	#contact .label{
	 	font-family: "". sans-serif;
	}
	#contact .btn-primary{
		background-color: ;
		border-color: ;
		color: ;
	}
	#contact .btn-primary:hover{
		background-color: ;
		color: ;
	}

	#contact .contact-form{
		padding-top: ;
	}

@media (max-width: ){
	#contact{
		padding: ;
	}
}

#events {
	margin-top: ;
	#events iframe{
		width: ;
	}
}

#home {
	padding: ;
	background: url() no repeat center center: 
	}
 #home .home-header-container {
	 width: ;
	 padding: ;
	 text-align: center;
}
#home .home-header-container .home-header {
	front-size: ;
	color: ;
}

#home .home-header-container .header-subheader {
	margin: ;
	color: ;
}

@media only screen and (max-width: ){
	#home {
		padding: ;
		text-algin: ;
	}
	#home .home-image-container {
		font-size: ;
		width: ;
	}
	#home .home-header-container{
		width: ;
	}
	#home .home-header-container .home-header{
		font-size: ;
	}
	#home .home-header-container .home-subheader{
		font-size: ;
		margin: ;
		color: ;
	}
}

.member-subheaders{
	text-algin: ;
	margin-bottom: ;
	margin-top: ;
}

.memberImage{
	margin-bottom: ;
	background-repeat: ;
	background-position: ;
	position: ;
	text-algin: ;
	vertical-algin: ;
	min-height: ;
}

.memberImage p{
	font-weight: ;
	color: ;
	text-transform: ;
	margin: ;
	position: ;
	top: ;
	left: ;
	transform: translate( %, %);
}

.quickLinks{
	background-repeat: ;
	background-size: ;
	background-position: ;
	position: ;
	text-align: ;
	vertical-algin: ;
	min-height: ;
}
.quickLinks p{
	font-weight: ;
	color: ;
	text-transform: ;
	margin: ;
	position: ;
	top: ;
	left: ;
	transform: translate( %, %); 
}

			
#officers {
	padding: ;
	background-color: ;
}
#officers h1{
	color: ; 
	margin-bottom: ;
}
@media (max-width: ){
	#officers{
		padding: ;
	}
}
 .officerPicture{
	 width: ;
	 height: ;
}

.officer-box{
	border: ;
	cursor: ;
}


#resources {
	display: ;
	padding: ;
}

.resource-header{
	padding-bottom: ;
}

.panel {
	border: ;
}
.panel .panel-heading{
	border: ;
	background-color: ;
	border-color: ;
}
.iframeOutside {
	text-algin: center;
}

#sponsors{
	display: ;
	padding: ;
	color: ;
}
	#sponsors .list{
		paddingL
		list-style-type: ;
		display: ;
		flex-wrap: ;
	}
	#sponsors .list-item{
		padding: ;
		align-items: ;
		justify-content: ;
		padding: ;
		width: ;
		margin-top: ;
	}
	#sponsors .list-item-link{
		position: ;
	}
	#sponsors .list-item-image{
		top: ;
		width: ;
		max-width: ;
		max-height: ;
	}
	@media all and (min-width: ) {
		#sponsors .list-item{
			width: ;
		}
	}
	@media all and (max-width: ) {
		#sponsors .list-item{
			width: ;
			padding: ;
		}
	@media all and (max-width: ) {
		#sponsors .list-item{
			width: ;
		}
	}
		

footer{
	background-color: ;
	color: ;
	padding: ;
	text-align: center;
}
	footer p{
		margin: ;
	}

	footer a{
		color: ;
	}
